.product-selection {
  &__content {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 0;
    row-gap: 1.5rem;

    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__product {
    @media (min-width: 900px) {
      &:nth-child(5) {
        grid-column-start: 2;
      }
    }
  }

}
